.image-slider{
    padding: 15px;
    background-color: purple;
}
.image-slider-user-image{
    border-radius: 50%;
    background-color: white;
}
.image-slider-header{
    height: 20px;
    background-color: 1e1e1e1;
}