#image-slider-user-image {
    margin: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
}

#image-carousel-wrapper {
    padding: 10px;
    border-radius: 15px;
    background-color: #171717;
    margin-bottom: 10px;
}

#image-slider-body {
    background-color: #171717;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

#image-slider-header {
    display: flex;
}

#image-slider-username {
    color: white;
    margin: auto auto auto 5px;
    font-size: 15px;
    font-weight: bold;
}

#image-slider-caption-wrapper {
    display: flex;
    font-size: 13px;
    color: rgb(224, 224, 224);
    margin-left: 15px;
}

#image-slider-caption-username {
    font-weight: bold;
    margin-right: 5px;
}

#image-slider-add-comment-button {
    filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(105%) contrast(105%);
    margin-top: 20px;
    margin-left: 20px;
    object-fit: cover;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#image-slider-add-comment-button-svg {
    height: 35px;
}

#image-slider-edit-button {
    filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(105%) contrast(105%);
    margin-top: 27px;
    object-fit: cover;

    cursor: pointer;
}

#image-slider-edit-button-svg {
    height: 15px;
}

#image-slider-delete-button {
    filter: invert(51%) sepia(100%) saturate(2751%) hue-rotate(328deg) brightness(103%) contrast(102%);    margin-top: 27px;
    margin-left: 5px;
    object-fit: cover;

    cursor: pointer;
}

#image-slider-delete-button-svg {
    height: 15px;
}

#image-slider-created-on {
    font-size: 13px;
    margin-left: 15px;
    margin-bottom: 10px;

    color: rgb(224, 224, 224);
}

#image-slider-comments {
    margin-top: 30px;
}

.slick-dots li button::before {
    font-size: 16px;
    color: #fff !important;
    opacity: 0.7;
}

.slick-dots {
    display: block !important;
}

.slick-dots li.slick-active button::before {
    color: #fff !important;
    opacity: 1;
}