.wrapper{
    margin: 10% auto;
    border-radius: 20px;
    background-color: #171717;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 10px 10px 4px 5px rgb(140, 140, 140);
}
.input{
    font-size: 20px;
    padding: 10px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.242);
    color: white;
    border-radius: 5px;
    background-color: #171717;
    margin-top: 15px;
}
.button{
    font-size: 25px;
    padding: 10px;
    border: none;
    background-color: rgb(11, 79, 190);
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.link{
    text-decoration: none;
    margin-top: 10px;
    color: rgb(11, 79, 190);
}