#user-item-wrapper {
    margin: 20px;
    display: flex;
    cursor: pointer;
}

#user-item-profile-image {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}

#user-item-username {
    color: white;
}