a {
    text-decoration: none;
}

.navWrapper {
    width: 100%;
    padding: 10px;
    margin: auto;
    height: 60px;
    display: flex;
    background-color: #171717;
    justify-content: space-between;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    margin: auto 15px auto;
    text-decoration: none;
    color: white;
}

.options {
    margin: auto 10px auto;
    display: flex;
}

.navOptions {
    font-size: 20px;
    margin: auto 15px;
    text-decoration: none;
    color: white;
}