#error-modal-wrapper {
    color: rgb(225, 134, 143);
    background-color: rgb(67, 12, 17);
    font-weight: 200;
    font-size: 20px;
    margin: auto;
    border-radius: 15px;
    border: 1px solid rgb(104, 18, 27);
    padding: 25px 50px;
    text-align: center;
}