#profile-header-wrapper{
    margin-bottom: 60px;
}
#add-friend-button {
    margin-left: 20px;
    padding: 10px;
    border: none;
    font-weight: bold;
    border: 2px solid white;
    background-color: rgb(0, 137, 9);
    color: white;
    border-radius: 25px;
    cursor: pointer;
}
