#confirm-email-wrapper{
    margin: 15% auto;
    border-radius: 20px;
    background-color: rgb(67, 12, 17);
    border: 1px solid rgb(104, 18, 27);
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 10px 10px 4px 5px rgba(0, 0, 0, 0.500);
}
#confirm-email-title{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: rgb(225, 134, 143);
    font-weight: bold;
}
#confirm-email-text{
    text-align: center;
    color: rgb(225, 134, 143);
    margin-top: 20px;
}